<body>
<h1>Welcome to the page everything Hermione Granger!</h1>
<img src = "https://vignette.wikia.nocookie.net/harrypotter/images/4/41/Hermionedhface.jpg/revision/latest?cb=20161221044857" class = "center">

<p>When you think of the movie Harry Potter you can't help but to think of him with his best
  friends and quickly your mind goes to Hermione. She is a character that jumps out at you
  for being herself even if that annoys everyone around her. 
</p>
<ul>
  <li>Belongs to Gryffindor</li>
  <li>Overacheiver</li>
  <li>She belongs to a Muggle family</li>
  <li>She is an only child</li>
</ul>
</body>