<body>
    <h1>Welcome to the page everything Ron Weasley!</h1>
    <img src = "https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_675,w_1200,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1493058689/cheats/2011/10/31/j-k-rowling-nearly-killed-off-ron-weasley/rupert-grint-ron-weasley-almost-killed-harry-potter-cs_qszdfa" class = "center">
    
    <p>Ron is one of the most loved characters from Harry Potter. 
      He is loved due to his funny personality and charm. He is often scared and 
      has a hard time facing his fears. When he comes face to face with them he 
      is challenged.  
    </p>
    <ul>
      <li>Belongs to Gryffindor</li>
      <li>Often scared</li>
      <li>Comes from a family of pure bloods</li>
      <li>Has a big family</li>
    </ul>
    </body>