/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda');
body {
    background-color: black;
    font-family: cherry cream soda;
}

a {
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    background-color: blue;
}
 a:hover {
    background-color: #111;
}

