
<h1>Harry Potter the boy who lived!</h1>
<img src="https://vignette.wikia.nocookie.net/harrypotter/images/a/ac/Logo_HP.png/revision/latest?cb=20130804205525"class = "center">

<div class= "row">
  <div class= "column" style= "background-color:black;">
    <h2>Harry Potter</h2>
    <p>Harry is described as the boy who lived. Early on Harry's parents died while he lived after being 
      struck by Lord Voldermort. The story follows him and his 2 best friends after he finds out 
      he comes from a famous wizard family. He goes to a wizarding school despite his aunt and 
      uncles disapproval, finds Quidditch, and learns how to be a wizard.
    </p>
    <img src="https://vignette.wikia.nocookie.net/harrypotter/images/c/c1/Harry%2Bpotter-Harry_Potter_HP4_01.jpg/revision/latest?cb=20120207172914"style= "width: 50%">
  </div>
  <div class= "column" style= "background-color:black;">
    <h2>Ron Weasley</h2>
    <p>Ron is described as Harry's best friend and also comes from a long line of wizarding parents
      called pure bloods. Unlike Harry, Ron comes from a poor family. He is goofy, extremley worried
       all the time, and always stays loyal to his friends and family. 
    </p>
    <img src="http://images5.fanpop.com/image/photos/28700000/Ronald-ronald-weasley-28710517-300-500.png" style= "width: 50%">
  </div>
<div class= "column" style= "background-color:black;">
  <h2>Hermione Granger</h2>
  <p>Hermione comes from a muggle family (meaning her parents aren't wizards). She is overly confident 
    when it comes to knowing her wizarding facts and often is the one with all of the answers. She is brave
    and often known as a know it all.</p>
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/7/7e/Hermione-HBP-hermione-granger-16048675-1919-2560.jpg/revision/latest?cb=20140628051753" style= "width: 50%">
</div>
